
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env


build/
dist/
CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.make
*.ninja
*.ninja_deps
*.ninja_log

# Logs/Temp
*.log
*.tmp
*.cache

onnxruntime-linux-x64-*/
onnxruntime-windows-x64-*/

*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj
*.exp
*.o
*.so
*.a
*.out

coverage/
*.gcda
*.gcno
*.lcov

*.bak
*.old
